* {
    margin: 0;
    padding: 0;
    font: 100%/1.4 "Arial", "Helvetica", sans-serif;
}

body {
  width: 500px;
}

pre {
  margin: 0.5em 1.5em;
  padding: 0.5em;
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 90%;
}

blockquote cite {
  font-style: normal;
}

blockquote cite a {
  white-space: nowrap;
}

body {
    font-size: 85%;
    font-family: sans-serif;
}

a:link,
a:hover,
a:visited {
    color: #000080;
}

a#users-count:link,
a#users-count:hover,
a#users-count:visited {
    font-size: 90%;
    color: #E9637A;
    padding: 0px 3px 0px 3px;
    font-weight: bold;
}

ul.tab-ui {
  list-style: none;
}

ul.tab-ui li {
  display: inline;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  padding: 5px 10px 5px 10px;
  background-color:#FFF;
  cursor: pointer;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}

ul.tab-ui li.current {
  background-color:#EEE;
}

#bookmark-edit-header {
    width:100%;
    display: table;
    background: #EEE url('/images/logo-text.png') no-repeat 10px center;
    text-align: right;
    padding: 5px;
    font-size: 90%;
}

#comment-header {
    width:100%;
    display: table;
    background: #EEE;
    padding: 5px;
    font-size: 90%;
}


#header {
    width:100%;
    display: table;
    background: #FFF no-repeat 10px center;
    border-bottom: 1px solid #999;
    /*
    display: table;
    background: #EEE url('/images/logo-text.png') no-repeat 10px center;
    */
    padding: 5px 5px 0px 5px;
    font-size: 90%;
}

#comment-title-right,
#header-right {
  text-align: right;
  display: table-cell;
}


#comment-title-container,
#header-left {
  display: table-cell;
}

#comment-title-container {
    background: no-repeat 0px center;
    padding-left: 22px;
}

#comment-infos {
  display: none;
}

.usericon {
  vertical-align:baseline;
}

#username {
    margin: 0 4px 0 4px;
}

#edit {
    padding: 8px 8px 0 8px;
    width:100%;
    display: table;
}

#buttons {
    width:100%;
    display: table;
    padding: 5px;
}

#buttons * input {
    cursor: pointer;
    width: 90px;
    font-size: 95%;
    margin: 5px;
    padding: 1px 0 1px 0;
}

#buttons-spacer {
    width:100%;
}

.table-row {
    display: table-row;
}

.edit-left {
    width: 80px;
    font-size: 90%;
    font-weight: bold;
}

.edit-cell {
    display: table-cell;
}

#comment {
    width: 100%;
}

#comment-area {
    width: 100%;
    display: table;
}

#bookmarked-notice {
    text-align: center;
    padding: 5px;
    margin: 3px;
    font-size: 90%;
    font-weight: bold;
    color: #555;
    background-color: #FDD;
    border-radius: 3px;
}

#type-counter {
    width: 60px;
    padding-left: 10px;
}

#bookmark-options {
}

#checkbox-options {
    padding: 3px;
    font-size: 90%;
}

#checkbox-options label {
    margin-right: 5px;
    cursor:pointer;
}

#recommend-tags-container, #all-tags-container {
    padding:0px 8px 0px 8px;
}

#recommend-tags-container dt, #all-tags-container dt {
    padding:5px 0px 0px 5px;
    font-weight: bold;
    font-size: 90%;
}

#recommend-tags-container dd, #all-tags-container dd {
    background-color: #E7F0FC;
    border-radius: 3px;
    padding: 6px;
    font-size: 90%;
}

#recommend-tags-container dd .tag, #all-tags-container dd .tag{
  margin-right: 3px;
}

#title {
    font-weight: bold;
}

.none {
    display: none;
}

#search-form {
  display: inline;
}

#bookmark-container,
#comment-container,
#search-container {
  display: none;
}

#search-container,
#comment-list {
  max-height: 500px;
  overflow-y:scroll;
  word-break:break-all;
}

#comment-list li {
  padding: 3px 3px 6px 3px;
  border-bottom: 1px solid #F0F0F0;
  margin: 3px;
  font-size: 95%;
}

#comment-list li a.username {
  padding: 0px 3px 0px 3px;
}

#comment-list li .comment {
  color: #000;
}

#comment-list li .timestamp {
  font-size: 90%;
  color: #999;
  padding-left: 5px;
}

.hide-nocomment > li.nocomment {
     display: none;
}

#comment-users {
  /* 1, 2users */
  background-color: #fdd;
  color: red;
  text-align: underline;
  padding: 1px;
}

em #comment-users {
  /* 3 users over */
  font-weight: bold;
}

#comment-count-detail {
  color: #555;
}

#comment-toggle {
  cursor: pointer;
}


/* loading */
.loading {
    display: none;
}

body.data-loading * .loaded {
    display: none;
}

body.data-loading * .loading {
    display: inline;
}

#search-container h3.entry-search {
  margin: 4px 0 0 -20px;
  padding: 0 0 0 20px;
  background-repeat: no-repeat;
  background-position: left 3px;
  text-indent: 0px;
}

#search-container li {
}

#search-container div.comment {
  font-size: 95%;
}
#search-container div.infos {
  font-size: 90%;
}

#search-container ul li {
  list-style: none;
  line-height: 1.4;
  margin: 10px 0 10px 10px !important;
}

#search-container span.highlight {
  /* background-color: yellow !important; */
  font-weight: bold;
}

#search-container a.user {
  text-decoration: none;
}

#search-container .tags,
#search-container a.user-tag {
  text-decoration: none;
  color: #66c;
}

#search-container a.url,
#search-container a.url:hover,
#search-container a.url:visited,
#search-container a.url:link
{
  color:green;
  text-decoration: none;
}

#search-container div.pager {
  float: none;
  margin-top: 13px;
}

#search-container div.pager span {
  text-decoration: none;
  color: #AAA;
}

#search-container div.pager span.shown {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

#search-container div.pager span.pager-next {
  margin-left: 8px;
}

#search-container ul.result {
  padding-top: 5px;
}

#search-container span.timestamp {
  color: #555;
}

#search-container div.message-container {
  display: none;
  clear: both;
  margin-top: 5em;
}

#search-container div.message-container p.bookmark-search-result {
  margin-bottom: 5px;
}

#search-container div.message-container p.message-notice {
  color: #999;
  font-size: 95%;
  margin-top: 5px;
}




