/* BASIC {{{ */
* {
    margin: 0;
    padding: 0;
    font: 100%/1.4 "Arial", "Helvetica", sans-serif;
    font-size: small;
}

body {
  overflow-x: hidden;
}

img {
  vertical-align: middle;
  border: none;
}

input[type='text'] {
  border: 1px solid #b7c5e3;
  padding: 2px 3px;
  color: #222;
}

.table-row {
    display: table-row;
}

a:link,
a:hover,
a:visited {
    color: #000080;
}

a#users-count:link,
a#users-count:hover,
a#users-count:visited {
    font-size: 90%;
    color: #E9637A;
    padding: 0px 3px 0px 3px;
    font-weight: bold;
}

#usericon {
  vertical-align:baseline;
  margin:0 2px;
}

/* }}} */

/* {{{ header */

#header {
    display: table;
    background: -webkit-gradient(
    linear, 
    left top, 
    left bottom, 
    from(#f3f8fe), 
    to(#d3e3f7)
    /*
    color-stop(0.5, #f3f8fe), 
    color-stop(0.5, #d3e3f7)
    */
    );
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

#header-left {
  display: table-cell;
  width: 100%;
  white-space: nowrap;
  padding: 5px;
}

#header-right {
  display: table-cell;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  padding: 5px;
}

ul.tab-ui li {
  display: inline-block;
    background: -webkit-gradient(
    linear, 
    left top, 
    left bottom, 
    from(#f1f7fd), 
    to(#e2ecf9)
    );

  padding: 4px 6px;
  margin: 0px 0px 0px 0px;

  border-top: 1px solid  #fff;
  border-left: 1px solid  #fff;
  -webkit-border-radius: 4px;
  cursor: pointer;
  text-shadow: 0px 1px 0px #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#header-right ul.tab-ui li {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
}

#header-right ul.tab-ui li input[type='image'] {
  vertical-align: text-bottom;
}

ul.tab-ui li.current {
  background: #f0f3f8;
  border-top: 1px solid  rgba(0,0,0,0.2);
  border-left: 1px solid  rgba(0,0,0,0.2);
  border-right: 1px solid  rgba(255,255,255,0.6);
  border-bottom: 1px solid  rgba(255,255,255,0.6);
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

ul.tab-ui li img {
  margin-right: 3px;
}


/* }}} */

/* commnet {{{ */

#comment-title-container {
  background: no-repeat 0px center;
  padding-left: 22px;
}

#comment-infos {
  display: none;
}

#comment-container {
  padding: 0;
  background: #fff;
} 

#comment-header {
  padding: 0 10px 10px 10px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

#comment-title-container {
  background: no-repeat 0px 2px;
  padding-left: 22px;
}

#comment-title {
  font-weight: bold;
  font-size: 120%;
}

#comment-list {
  border-top: 1px solid #ccc;
  padding: 5px 0;
}

#comment-list li {
  padding: 3px 20px 3px 10px;
}

span.timestamp {
  font-size: 85%;
  color: #999;
  margin: 4px;
}

a.username {
  margin-left: 4px;
}

#comment-message {
  display: block;
  margin: 30px;
  color: #666;
}

#comment-loading-icon {
  margin-right: 4px;

}

#comment-title-container {
  display: table-cell;
  width: 100%;
}

#comment-title-right {
  display: table-cell;
  white-space: nowrap;
}

/* }}} */

/* edit {{{ */

#bookmark-edit-header {
  display: table-row;
  width: 100%;
}

#bookmark-edit-header div.edit-cell {
  padding-bottom: 0;
}

#bookmark-edit-header .edit-cell:last-child {
  text-align: right;
}

#edit {
    padding: 8px 8px 0 8px;
    width:100%;
    display: table;
}

#buttons {
    width:100%;
    display: table;
}

#buttons * input {
    cursor: pointer;
    width: 90px;
    font-size: 95%;
    margin: 5px;
    padding: 1px 0 1px 0;
}

#buttons div.edit-cell:first-child {
  width: 100%;
}

.edit-left {
    font-size: 90%;
    font-weight: bold;
    width: 1%;
}

.edit-cell {
  padding: 5px;
  display: table-cell;
  white-space: nowrap;
}

/* }}} */

#comment {
    width: 100%;
}

#comment-area {
    width: 100%;
    display: table;
}

#bookmarked-notice {
    text-align: center;
    padding: 5px;
    margin: 3px;
    font-size: 90%;
    font-weight: bold;
    color: #555;
    background-color: #FDD;
    border-radius: 3px;
}

#type-counter {
    width: 60px;
    padding-left: 10px;
}

#bookmark-options {
}

#checkbox-options {
    padding: 3px;
    font-size: 90%;
}

#checkbox-options label {
    margin-right: 5px;
    cursor:pointer;
}

#recommend-tags-container, #all-tags-container {
    padding:0px 8px 0px 8px;
}

#recommend-tags-container dt, #all-tags-container dt {
    padding:5px 0px 0px 5px;
    font-weight: bold;
    font-size: 90%;
}

#recommend-tags-container dd, #all-tags-container dd {
    background-color: #E7F0FC;
    border-radius: 3px;
    padding: 6px;
    font-size: 90%;
}

#recommend-tags-container dd .tag, #all-tags-container dd .tag{
  margin-right: 3px;
}


#title {
    font-weight: bold;
}

.none {
    display: none;
}

#search-form {
  display: inline;
}

#login-container,
#bookmark-container,
#comment-container,
#search-container {
  display: none;
}

#search-container,
#comment-list {
  max-height: 450px;
  overflow-y:scroll;
  word-break:break-all;
}

#bookmark-message,
#comment-message {
  text-align: center;
  padding: 20px 10px 20px 10px;
}

#comment-list li {
  padding: 3px 3px 6px 3px;
  border-bottom: 1px solid #F0F0F0;
  margin: 3px;
  font-size: 95%;
}

#comment-list li a.username {
  padding: 0px 3px 0px 3px;
}

#comment-list li .comment {
  color: #000;
}

#comment-list li .timestamp {
  font-size: 90%;
  color: #999;
  padding-left: 5px;
}

.hide-nocomment > li.nocomment {
     display: none;
}

#comment-users {
  /* 1, 2users */
  background-color: #fdd;
  color: red;
  text-align: underline;
  padding: 1px;
}

em #comment-users {
  /* 3 users over */
  font-weight: bold;
}

#comment-toggle {
  cursor: pointer;
}


/* loading */
.loading {
    display: none;
}

body.data-loading * .loaded {
    display: none;
}

body.data-loading * .loading {
    display: inline;
}


/* search-container {{{ */

#search-container h3.entry-search {
  margin: 4px 0 0 -20px;
  padding: 0 0 0 20px;
  background-repeat: no-repeat;
  background-position: left 3px;
  text-indent: 0px;
}

#search-container li {
}

#search-container div.comment {
  font-size: 95%;
}
#search-container div.infos {
  font-size: 90%;
}

#search-container ul li {
  list-style: none;
  line-height: 1.4;
  margin: 10px 0 10px 10px !important;
}

#search-container span.highlight {
  /* background-color: yellow !important; */
  font-weight: bold;
}

#search-container a.user {
  text-decoration: none;
}

#search-container .tags,
#search-container a.user-tag {
  text-decoration: none;
  color: #66c;
}

#search-container a.url,
#search-container a.url:hover,
#search-container a.url:visited,
#search-container a.url:link
{
  color:green;
  text-decoration: none;
}

#search-container div.pager {
  float: none;
  margin-top: 13px;
}

#search-container div.pager span {
  text-decoration: none;
  color: #AAA;
}

#search-container div.pager span.shown {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

#search-container div.pager span.pager-next {
  margin-left: 8px;
}

#search-container ul.result {
  padding-top: 5px;
}

#search-container span.timestamp {
  color: #555;
}

#search-container div.message-container {
  display: none;
  clear: both;
  margin-top: 5em;
}

#search-container div.message-container p.bookmark-search-result {
  margin-bottom: 5px;
}

#search-container div.message-container p.message-notice {
  color: #999;
  font-size: 95%;
  margin-top: 5px;
}

/* }}} */


#comment-count-detail {
  color: #555;
  font-size: 90%;
}

/* USERS {{{ */
em a:link,
em a:hover,
em a:visited,
strong a:link,
strong a:hover,
strong a:visited {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-style: normal !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

strong a:link,
strong a:hover,
strong a:visited {
  color: #ff0000 !important;
  background: #FFCCCC !important;
}

em a:link,
em a:hover,
em a:visited {
  color: #FF6666 !important;
  background: #FFF0F0 !important;
}

/* }}} */

